@using fyp.Models
@{
    Layout = "~/Views/Shared/Customer_Layout.cshtml";
    Model1 db = new Model1();
}

<!-- Detail Start -->
<div class="container py-5">
    <div class="row pt-5">
        <div class="col-lg-8">
            <div class="d-flex flex-column text-left mb-4">
                <h4 class="text-secondary mb-3">Pet Training</h4>
                <h1 class="mb-3">Training blogs</h1>

            </div>

            <div class="mb-5">
                <p>Training builds confidence, provides mental stimulation and strengthens the human-animal bond. </p>
                <p>Animal training is the act of teaching animals specific responses to specific conditions or stimuli. Training may be for purposes such as companionship, detection, protection, and entertainment.</p>
                @*Dog training*@
                <h2 class="mb-4">Dog Training videos</h2>
                <div class="media bg-light mb-5 p-4 p-md-5">
                    <img src="~/content/customer/img/download.png" alt="Image" class="img-fluid mr-4 mt-1" style="width: 80px;">
                    <div class="media-body">
                        <a href="https://www.youtube.com/watch?v=ljZVm63I6SI">
                            <h5 class="mb-3">
                                10 Dog Training Tricks in Just 5 minutes
                            </h5>
                        </a>
                        <p class="m-0">By <b>Smart Dog Training</b></p>
                    </div>
                </div>

                <div class="media bg-light mb-5 p-4 p-md-5">
                    <img src="~/content/customer/img/download.png" alt="Image" class="img-fluid mr-4 mt-1" style="width: 80px;">
                    <div class="media-body">
                        <a href="https://www.youtube.com/watch?v=qOoCIlYxLb4">
                            <h5 class="mb-3">
                                Labrador Puppy Learning and Performing Training Commands
                            </h5>
                        </a>
                        <p class="m-0">By <b>Furry Friend</b></p>
                    </div>
                </div>
                @*Cat training*@
                <h2 class="mb-4">Cat Training videos</h2>
                <div class="media bg-light mb-5 p-4 p-md-5">
                    <img src="~/content/customer/img/download.png" alt="Image" class="img-fluid mr-4 mt-1" style="width: 80px;">
                    <div class="media-body">
                        <a href="https://www.youtube.com/watch?v=Uu-hRtkaVLc">
                            <h5 class="mb-3">
                                30 Tricks To Teach Your Cat
                            </h5>
                        </a>
                        <p class="m-0">By <b>Cat School Clicker Training</b></p>
                    </div>
                </div>

                <div class="media bg-light mb-5 p-4 p-md-5">
                    <img src="~/content/customer/img/download.png" alt="Image" class="img-fluid mr-4 mt-1" style="width: 80px;">
                    <div class="media-body">
                        <a href="https://www.youtube.com/watch?v=2h9VqeC6n50">
                            <h5 class="mb-3">
                                5 CAT TRICKS in 10 minutes
                            </h5>
                        </a>
                        <p class="m-0">By <b>Albert & Mia, the Adventure Bengal Cat</b></p>
                    </div>
                </div>
                @*Birds training*@
                <h2 class="mb-4">Parrot Training videos</h2>
                <div class="media bg-light mb-5 p-4 p-md-5">
                    <img src="~/content/customer/img/download.png" alt="Image" class="img-fluid mr-4 mt-1" style="width: 80px;">
                    <div class="media-body">
                        <a href="https://www.youtube.com/watch?v=tMa6VrI94Zs">
                            <h5 class="mb-3">
                               Green Raw Parrot Training Tips & Tricks
                            </h5>
                        </a>
                        <p class="m-0">By <b>Toton Roy</b></p>
                    </div>
                </div>

            </div>


        </div>

        <div class="col-lg-4 mt-5 mt-lg-0">

            <div class="mb-5">
                <img src="~/content/customer/img/Quest.png" alt="" class="img-fluid">
            </div>
            <div>
                <h3 class="mb-4">Quest 4 Pets</h3>
                Quest 4 Pets gives customer the facility to buy pets and their accessories online ,Customer can also consult with the veterinarian for their animal’s issues
            </div>
        </div>
    </div>
</div>
<!-- Detail End -->
